.GameStartButton p{
    width: 100px;
    height: 20px;
    padding: 20px;
    border: 8px solid $color-gray;
    background: $color-lightgray;
    text-align: center;
    font-size: 19px;
    font-family: Impact;



    position: fixed;
    top: 61%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}