// Variables
$color-yellow: Darkkhaki;
$color-gray: gray;
$color-lightgray: lightgray; 

// Mixins
//(nothing to mix in as this was a simple layout to understand how sass works)

// imports
@import 'base';
@import 'TitleBox';
@import 'GameStartButton';


// work in progress TitleScreen.css is sass'd 
// will upload and resend as i work further on getting the project's css sass'd



